<h1><%= title %></h1>
<p>Are you sure you want to delete <strong><%= item.name %></strong>?</p>
<form method="POST">

  <button type="submit" class="submit-button">Yes</button>
</form>

<%- include("../errors", { errors }); %>